name: Unit and DOM testing

on:
  push:
    branches: [$default-branch]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Borales/actions-yarn@v3.0.0
        with:
          cmd: install
      - uses: Borales/actions-yarn@v3.0.0
        with:
          cmd: test
